:root {
  --cyan: hsl(178, 100%, 50%);
  --darkest-blue: hsl(217, 54%, 11%);
  --dark-blue: hsl(216, 50%, 16%);
  --soft-blue: hsl(215, 51%, 70%);
  --darker-blue: hsl(215, 32%, 27%);
}

.body {
  background-color: var(--darkest-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.main {
  width: 350px;
  display: block;
  background-color: var(--dark-blue);
  border-radius: 10px;
  height: 580px;
  font-family: "Outfit", sans-serif;
}

.headline {
  color: white;
  padding-left: 20px;
  font-size: 25px;
}

.etherium {
  display: inline;
  color: var(--cyan);
  font-weight: 500;
  font-size: 18px;
  padding-left: 5px;
}

#line {
  color: hsl(215, 32%, 27%);
  max-width: 300px;
  margin: 0 20px;
  padding: 10px 0px;
}

.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
  font-size: 12px;
  color: white;
  font-weight: 300;
  padding-top: 20px;
}

.description {
  color: var(--soft-blue);
  font-size: 18px;
  font-weight: 300;
}

.padding {
  padding: 0 20px;
}

.summary {
  color: white;
  font-weight: 300;
}

.main-image {
  width: 310px;
  border-radius: 15px;
  margin: 20px 20px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.eth {
  padding-left: 20px;
}

.avatar {
  width: 30px;
  border: 1px solid white;
  border-radius: 25px;
}

.overlay {
  height: 310px;
  width: 310px;
  background-color: rgba(0, 255, 247, 0.4);
  z-index: 3;
  position: absolute;
  border-radius: 15px;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.image {
  position: relative;
}

.icon {
  width: 50px;
  height: 50px;
  margin-top: 40%;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: var(--cyan);
}

@media (max-width: 400px) {
  main {
    width: 350px;
  }

  body {
    max-height: 100vh;
  }
}
